@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 1.9rem;
    font-weight: 300;
}

.section-title {
    font-size: 4rem;
    font-weight: 200;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.brand h1{
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
}

.brand h1 span{
    color: crimson;
}


/* header */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}   

#header .header{
    min-height: 11vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;

}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-bar ul{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30);
    height: 100vh;
    width: 100vw;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden ;
    transition: .5s ease left;

}

#header .nav-list ul.active{
    left: 0;
}

#header .nav-bar ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;

}

#header .nav-bar ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;

}

#header .nav-bar ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    /* border: 4px solid red; */
    letter-spacing: initial;

}

#header .nav-bar ul li:hover a{
    color: crimson;
}

#header .hamburger{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius:50% ;
    border: 3px solid white;
    animation: hamburger_puls .8s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;

}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}

#header .hamburger.active .bar::after{
    top: 0;
}












/* header  End*/







/* Hero section */


#hero {
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;

}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}


#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;

}

#hero h1 {
    display: block;
    position: relative;
    width: fit-content;
    font-size: 4rem;
    color: white;
}

#hero h1 span {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: crimson;
    animation: text-reveal-box 1s ease;
    animation-delay: .5s;

}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text-reveal-name 2s ease forwards;
    animation-delay: 3s;

}

/* Span hero h1 */

#hero h1:nth-child(1) span {
    animation-delay: .5;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}


.btn {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;

}

.btn:hover {
    color: white;
    background-color: crimson;
}

/* End of hero section */




/* services section */

#services .service-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 1500px;
    margin-top: 20px;
    padding: 0px 0;
}

#services .section-title {
    font-size: 4rem;
    font-weight: 200;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    
}

#services .section-title span {
    color: crimson;
}

#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    font-weight: 200;
    line-height: 2.5rem;
    letter-spacing: .05rem;
    padding-bottom: 53px;
}

#service .service-bottom {
    padding-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(img/img-1.jpg);
    margin: 15px 22%;
    height: 41vh;
    width: 52vw;
    position: relative;
    z-index: 1;
    background-size: cover;
    overflow: hidden;

}

#services .service-item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .7;
    background-color: #242020;
    z-index: -1;
}

#services .icon img {
    padding-bottom: 10px;
    width: 70px;
}

#services .service-item h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2.4rem; 
}

/* End of service section */


/* projects section */

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    /* height: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #3e4144 0%, #465b72 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    max-height: 337px;
    flex-basis: 50%;
    /* height: 100px; */
    overflow: hidden;
    position: relative;
    width: 100%;

}

#projects .project-img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;

}

#projects .project-img img{
    transition: .3s ease transform;
}

#projects .project-img:hover.project-img img{
    transform: scale(1.1);
}


/* End of projects section */



/* About  section */

#about {
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    max-height: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 250px;
    height: 360px;
    margin: 0 auto;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-weight: 700;
    letter-spacing: .2rem;
    margin-bottom: 10px
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .btn {
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    padding: 10px 20px;
}

#about .col-right .btn:hover{
    color: white;
}


#about .col-left .about-img {
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
}

#about .col-left .about-img::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}



/* End of about secton */


/* Contect section */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .contact-item {
    width: 55%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 36vh;
    padding: 21px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0 #000000e1;
    transition: .2s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;

}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 7px;
}

#contact .contact-info h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}

/* End of contect section */

/* footer section */

#footer{
    background-image:linear-gradient(60deg, #29323c 0%, #485563 100%) ;

}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
  
}

#footer .footer-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    padding: 10px 20px;
    height: 50%;
    width: 50%;
}

/* #footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item :hover img{
    filter: grayscale(0);
} */
#footer p{
    color: white;
    font-size: 1.3rem;
}

#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

 
/* end of footer section */


/* <!-- keyframes --> */

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }

    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}


@keyframes text-reveal-box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal-name {
    100% {
        color: crimson;

    }
}

/* media quary for phone */

    
@media only screen and (max-width:480px){
    #hero h1{
        font-size: 2.5rem;
    }
    .btn{
        font-size: 1.5rem;
    }
    .container {
        min-height: 70vh;
    
}
#services .section-title {
    font-size: 2rem;
   
  }
  #services .service-item p{
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  #services .service-item h2{
    font-size: 1.5rem;
  }

  #services .service-item {
    height: 55vh;
    text-align: left;
    width: 52vw;
}

/* Project section */

#projects .projects {
    padding: 1px 0;
  }

  #projects .project-item{
    width: 60%;
  }

  #projects .project-info h1 {
    font-size: 2rem;
    font-weight: 400;
  }


  .section-title {
    font-size: 2.4rem;
}

#about .col-right p {
    font-size: 1.3rem;
    line-height: 2rem;
   
  }

  #about {
    padding: 44px 0px;
  }

  #about .col-right .btn {
    margin-bottom: 41px;
    padding: 10px 10px;
    font-size: 12px;
  }

  #about .col-left .about-img {
    height: 71%;
    width: 74%;
  }

  #about .col-left .about-img::after {
    width: 94%;
}


/* CONTACT SECTION  */

#contact .contact-item .icon img{
    width: 40px;
    height: 40px;
}

#contact .contact-info h1{
    font-size: 1.5rem;
}

#contact .contact-info h2{
    font-size: 1rem;
}


}


@media only screen and (min-width:1200px){
    #header .hamburger{
        display: none;
        
    }

    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li{
        display: inline-block;
    }

    #header .nav-list ul li a{
        font-size: 1.8rem;
    }


    #header .nav-list ul a::after{
        display: none;
    }

    /* End Header */

   }





/* End of  media quary for phone  */